.main img
{
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

}
.main
{
    padding: 0 40px;

}
.famousremark
{
    /*width: 500px;*/
    width: 60%;
    display:block;
    margin: 20px auto ;
    text-align: center;
    padding:100px auto;
    font-size: large;
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
}
.Bottom img
{
    margin: 4px ;
    height: 200px;
}
.Bottom
{
    display:block;
    margin: 0 auto ;
    padding: 10px 5%;
}
@media only screen and ( min-width:600px )
{
    .col-1 {width:8.33%;}
    .col-2 {width:16.66%;}
    .col-3 {width:25%;}
    .col-4 {width:33.33%;}
    .col-5 {width:41.66%;}
    .col-6 {width:50%;}
    .col-7 {width:58.33%;}
    .col-8 {width:66.66%;}
    .col-9 {width:75%;}
    .col-10 {width:83.33%;}
    .col-11 {width:91.66%;}
    .col-12 {width:100%;}
    .Bottom img
    {
        margin: 20px 1%;
        height: 150px;
    }
}